<ul class="sidebar-menu" data-widget="tree">
  <li class="header"><%= t "menu" %></li>
  <li><%= link_to " Dasboard", admin_dasboard_index_path, class:"fa fa-dashboard style-icon" %></li>
  <li><%= link_to " User", admin_users_path, class:"fa fa-user style-icon" %></li>
</ul>
